<h1>Add Department</h1>
<form action="/departments/add" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="departmentname">Department Name</label><br>
                <input type="text" id="departmentname" name="departmentName" class="form-control">   
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br /><br /><br />
</form>