<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Login Date/Time</th>
            <th scope="col">Client Information</th>
        </tr>
    </thead>
    <tbody>
        {{#each session.user.loginHistory}}
        <tr>
            <td>{{dateTime}}</td>
            <td>{{userAgent}}</td>
        </tr>
        {{/each}}

    </tbody>

</table>
