body{
  background-color: lemonchiffon;
  font-family: 'Noto Sans', sans-serif;
}

.container-fluid{
  background-color: black;
  border: 1px solid black;
  color: white;
}

.main p, aside p {
  text-align: justify;
}

.col-md-4 img{
  float: left;
  max-width: 300px;
  max-height: 500px;
  width: auto;
  height: auto;
}